.venv/
*.exe
__pycache__/
*.py[cod]
*.egg-info/
build/
*.spec


.env
client/dist/*
!client/dist/.gitkeep
client/frontend/dist/
client/frontend/node_modules/
client/frontend/**/*.tsbuildinfo
client/frontend/vite.config.js
client/frontend/vite.config.d.ts

upload.log

documentation/
legacy/