.venv/
*.exe
__pycache__/
*.py[cod]
*.egg-info/
build/
*.spec
frontend/node_modules/
dkg/
jl/
brk/
gph/
secret/
data/
.env
client/dist/*
!client/dist/.gitkeep
client/frontend/dist/
client/frontend/node_modules/
client/frontend/**/*.tsbuildinfo
client/frontend/vite.config.js
client/frontend/vite.config.d.ts
workspaces/
**/secret/
*.pem
users.db
upload.log
database_pw.md
agrolav.bak
legacy/**/*