USE [master]
GO
/****** Object:  Database [agrolav]    Script Date: 27/08/2026 02:51:36 ******/
CREATE DATABASE [agrolav]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'agrolav', FILENAME = N'/var/opt/mssql/data/agrolav.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'agrolav_log', FILENAME = N'/var/opt/mssql/data/agrolav_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [agrolav].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [agrolav]
GO
/****** Object:  Table [dbo].[account]    Script Date: 27/08/2026 02:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[app_user_id] [int] NOT NULL,
	[iban] [nvarchar](64) NOT NULL,
	[account_name] [nvarchar](64) NOT NULL,
	[format] [nvarchar](64) NULL,
	[balance] [decimal](18, 2) NOT NULL,
	[last_booked] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [ux_account_iban] UNIQUE NONCLUSTERED 
(
	[app_user_id] ASC,
	[iban] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[account_balance_file]    Script Date: 27/08/2026 02:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account_balance_file](
	[account_balance_file_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[file_name] [nvarchar](256) NOT NULL,
	[format] [nvarchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[account_balance_file_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[app_user]    Script Date: 27/08/2026 02:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[app_user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](128) NOT NULL,
	[title] [nvarchar](256) NULL,
	[country_id] [int] NOT NULL,
	[center_id] [int] NULL,
	[number_of_accounts] [int] NULL,
	[created_at] [date] NOT NULL,
	[updated_at] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bank]    Script Date: 27/08/2026 02:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bank](
	[bank_id] [int] NOT NULL,
	[bank_name_official] [nvarchar](64) NOT NULL,
	[file_format] [nvarchar](64) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bank_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [ux_bank_official] UNIQUE NONCLUSTERED 
(
	[bank_name_official] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bank_modality]    Script Date: 27/08/2026 02:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bank_modality](
	[folder_name] [nvarchar](64) NOT NULL,
	[bank_id] [int] NOT NULL,
 CONSTRAINT [pk_bank_modality] PRIMARY KEY CLUSTERED 
(
	[folder_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category_term]    Script Date: 27/08/2026 02:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category_term](
	[term_id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NOT NULL,
	[app_user_id] [int] NULL,
	[term] [nvarchar](256) NOT NULL,
	[sort_order] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[term_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category_total]    Script Date: 27/08/2026 02:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category_total](
	[category_total_id] [int] IDENTITY(1,1) NOT NULL,
	[app_user_id] [int] NOT NULL,
	[year] [smallint] NOT NULL,
	[bank_id] [int] NULL,
	[category_id] [int] NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_total_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[center]    Script Date: 27/08/2026 02:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[center](
	[center_id] [int] IDENTITY(1,1) NOT NULL,
	[country_id] [int] NOT NULL,
	[name] [nvarchar](64) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[center_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [ux_center_name] UNIQUE NONCLUSTERED 
(
	[country_id] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[country]    Script Date: 27/08/2026 02:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[country](
	[country_id] [int] NOT NULL,
	[name] [nvarchar](32) NOT NULL,
	[currency_default] [char](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[country_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [ux_country_name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_category]    Script Date: 27/08/2026 02:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_category](
	[category_id] [int] NOT NULL,
	[country_id] [int] NOT NULL,
	[local_code] [int] NOT NULL,
	[label] [nvarchar](128) NOT NULL,
	[is_remainder] [bit] NOT NULL,
	[matrix_role] [nvarchar](32) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [ux_dim_category_code] UNIQUE NONCLUSTERED 
(
	[country_id] ASC,
	[local_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [ux_dim_category_label] UNIQUE NONCLUSTERED 
(
	[country_id] ASC,
	[label] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[enable_account]    Script Date: 27/08/2026 02:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[enable_account](
	[enable_account_id] [int] IDENTITY(1,1) NOT NULL,
	[connection_id] [int] NOT NULL,
	[account_id] [int] NULL,
	[uid] [nvarchar](128) NOT NULL,
	[enabled] [bit] NOT NULL,
	[identification_hash] [nvarchar](128) NULL,
	[currency] [char](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[enable_account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [ux_enable_account_uid] UNIQUE NONCLUSTERED 
(
	[connection_id] ASC,
	[uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[enable_connection]    Script Date: 27/08/2026 02:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[enable_connection](
	[connection_id] [int] IDENTITY(1,1) NOT NULL,
	[app_user_id] [int] NOT NULL,
	[app_id] [nvarchar](128) NULL,
	[aspsp] [nvarchar](64) NOT NULL,
	[country_iso] [char](2) NOT NULL,
	[session_id] [nvarchar](256) NULL,
	[valid_until] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[connection_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [ux_enable_connection] UNIQUE NONCLUSTERED 
(
	[app_user_id] ASC,
	[aspsp] ASC,
	[country_iso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[enable_redirect]    Script Date: 27/08/2026 02:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[enable_redirect](
	[app_user_id] [int] NOT NULL,
	[last_redirect_input] [nvarchar](max) NULL,
	[last_redirect_code] [nvarchar](256) NULL,
	[last_redirect_code_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[app_user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hub_ip]    Script Date: 27/08/2026 02:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hub_ip](
	[ip] [nvarchar](64) NOT NULL,
 CONSTRAINT [pk_hub_ip] PRIMARY KEY CLUSTERED 
(
	[ip] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[private_key]    Script Date: 27/08/2026 02:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[private_key](
	[app_user_id] [int] NOT NULL,
	[app_id] [nvarchar](128) NOT NULL,
	[pem] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[app_user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [ux_private_key_app_id] UNIQUE NONCLUSTERED 
(
	[app_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[table_header_term]    Script Date: 27/08/2026 02:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[table_header_term](
	[country_id] [int] NOT NULL,
	[term_key] [nvarchar](64) NOT NULL,
	[label] [nvarchar](128) NOT NULL,
 CONSTRAINT [pk_table_header_term] PRIMARY KEY CLUSTERED 
(
	[country_id] ASC,
	[term_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transaction_nederland]    Script Date: 27/08/2026 02:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transaction_nederland](
	[transaction_id] [bigint] IDENTITY(1,1) NOT NULL,
	[app_user_id] [int] NOT NULL,
	[account_id] [int] NOT NULL,
	[year] [smallint] NOT NULL,
	[bank_id] [int] NULL,
	[source_id] [nvarchar](128) NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[bank_type] [nvarchar](64) NULL,
	[counterparty_name] [nvarchar](512) NULL,
	[counterparty_iban] [nvarchar](64) NULL,
	[description] [nvarchar](max) NULL,
	[booked_on] [date] NOT NULL,
	[category_id] [int] NOT NULL,
	[modification] [smallint] NOT NULL,
	[hit] [nvarchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transaction_uk]    Script Date: 27/08/2026 02:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transaction_uk](
	[transaction_id] [bigint] IDENTITY(1,1) NOT NULL,
	[app_user_id] [int] NOT NULL,
	[account_id] [int] NOT NULL,
	[year] [smallint] NOT NULL,
	[bank_id] [int] NULL,
	[source_id] [nvarchar](128) NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[bank_type] [nvarchar](64) NULL,
	[counterparty_name] [nvarchar](512) NULL,
	[counterparty_iban] [nvarchar](64) NULL,
	[description] [nvarchar](max) NULL,
	[booked_on] [date] NOT NULL,
	[category_id] [int] NOT NULL,
	[modification] [smallint] NOT NULL,
	[hit] [nvarchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[type_abbreviation]    Script Date: 27/08/2026 02:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[type_abbreviation](
	[country_id] [int] NOT NULL,
	[bank_type] [nvarchar](64) NOT NULL,
	[abbreviation] [nvarchar](16) NOT NULL,
 CONSTRAINT [pk_type_abbreviation] PRIMARY KEY CLUSTERED 
(
	[country_id] ASC,
	[bank_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[type_rule]    Script Date: 27/08/2026 02:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[type_rule](
	[country_id] [int] NOT NULL,
	[bank_type] [nvarchar](64) NOT NULL,
	[category_id] [int] NOT NULL,
 CONSTRAINT [pk_type_rule] PRIMARY KEY CLUSTERED 
(
	[country_id] ASC,
	[bank_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ux_app_user_username]    Script Date: 27/08/2026 02:51:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [ux_app_user_username] ON [dbo].[app_user]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ux_category_term_catalog]    Script Date: 27/08/2026 02:51:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [ux_category_term_catalog] ON [dbo].[category_term]
(
	[category_id] ASC,
	[term] ASC
)
WHERE ([app_user_id] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ux_category_term_personal]    Script Date: 27/08/2026 02:51:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [ux_category_term_personal] ON [dbo].[category_term]
(
	[category_id] ASC,
	[app_user_id] ASC,
	[term] ASC
)
WHERE ([app_user_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ux_category_total_bank]    Script Date: 27/08/2026 02:51:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [ux_category_total_bank] ON [dbo].[category_total]
(
	[app_user_id] ASC,
	[year] ASC,
	[bank_id] ASC,
	[category_id] ASC
)
WHERE ([bank_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ux_category_total_consolidated]    Script Date: 27/08/2026 02:51:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [ux_category_total_consolidated] ON [dbo].[category_total]
(
	[app_user_id] ASC,
	[year] ASC,
	[category_id] ASC
)
WHERE ([bank_id] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ux_txn_nl_bank]    Script Date: 27/08/2026 02:51:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [ux_txn_nl_bank] ON [dbo].[transaction_nederland]
(
	[app_user_id] ASC,
	[year] ASC,
	[bank_id] ASC,
	[source_id] ASC
)
WHERE ([bank_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ux_txn_nl_consolidated]    Script Date: 27/08/2026 02:51:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [ux_txn_nl_consolidated] ON [dbo].[transaction_nederland]
(
	[app_user_id] ASC,
	[year] ASC,
	[source_id] ASC
)
WHERE ([bank_id] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ux_txn_uk_bank]    Script Date: 27/08/2026 02:51:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [ux_txn_uk_bank] ON [dbo].[transaction_uk]
(
	[app_user_id] ASC,
	[year] ASC,
	[bank_id] ASC,
	[source_id] ASC
)
WHERE ([bank_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ux_txn_uk_consolidated]    Script Date: 27/08/2026 02:51:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [ux_txn_uk_consolidated] ON [dbo].[transaction_uk]
(
	[app_user_id] ASC,
	[year] ASC,
	[source_id] ASC
)
WHERE ([bank_id] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[account] ADD  CONSTRAINT [df_account_balance]  DEFAULT ((0)) FOR [balance]
GO
ALTER TABLE [dbo].[dim_category] ADD  CONSTRAINT [df_dim_category_remainder]  DEFAULT ((0)) FOR [is_remainder]
GO
ALTER TABLE [dbo].[enable_account] ADD  CONSTRAINT [df_enable_account_enabled]  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[transaction_nederland] ADD  CONSTRAINT [df_txn_nl_mod]  DEFAULT ((-1)) FOR [modification]
GO
ALTER TABLE [dbo].[transaction_uk] ADD  CONSTRAINT [df_txn_uk_mod]  DEFAULT ((-1)) FOR [modification]
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD  CONSTRAINT [fk_account_app_user] FOREIGN KEY([app_user_id])
REFERENCES [dbo].[app_user] ([id])
GO
ALTER TABLE [dbo].[account] CHECK CONSTRAINT [fk_account_app_user]
GO
ALTER TABLE [dbo].[account_balance_file]  WITH CHECK ADD  CONSTRAINT [fk_abf_balance] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[account_balance_file] CHECK CONSTRAINT [fk_abf_balance]
GO
ALTER TABLE [dbo].[app_user]  WITH CHECK ADD  CONSTRAINT [fk_app_user_center] FOREIGN KEY([center_id])
REFERENCES [dbo].[center] ([center_id])
GO
ALTER TABLE [dbo].[app_user] CHECK CONSTRAINT [fk_app_user_center]
GO
ALTER TABLE [dbo].[app_user]  WITH CHECK ADD  CONSTRAINT [fk_app_user_country] FOREIGN KEY([country_id])
REFERENCES [dbo].[country] ([country_id])
GO
ALTER TABLE [dbo].[app_user] CHECK CONSTRAINT [fk_app_user_country]
GO
ALTER TABLE [dbo].[bank_modality]  WITH CHECK ADD  CONSTRAINT [fk_bank_modality_bank] FOREIGN KEY([bank_id])
REFERENCES [dbo].[bank] ([bank_id])
GO
ALTER TABLE [dbo].[bank_modality] CHECK CONSTRAINT [fk_bank_modality_bank]
GO
ALTER TABLE [dbo].[category_term]  WITH CHECK ADD  CONSTRAINT [fk_category_term_app_user] FOREIGN KEY([app_user_id])
REFERENCES [dbo].[app_user] ([id])
GO
ALTER TABLE [dbo].[category_term] CHECK CONSTRAINT [fk_category_term_app_user]
GO
ALTER TABLE [dbo].[category_term]  WITH CHECK ADD  CONSTRAINT [fk_category_term_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[dim_category] ([category_id])
GO
ALTER TABLE [dbo].[category_term] CHECK CONSTRAINT [fk_category_term_category]
GO
ALTER TABLE [dbo].[category_total]  WITH CHECK ADD  CONSTRAINT [fk_ct_app_user] FOREIGN KEY([app_user_id])
REFERENCES [dbo].[app_user] ([id])
GO
ALTER TABLE [dbo].[category_total] CHECK CONSTRAINT [fk_ct_app_user]
GO
ALTER TABLE [dbo].[category_total]  WITH CHECK ADD  CONSTRAINT [fk_ct_bank] FOREIGN KEY([bank_id])
REFERENCES [dbo].[bank] ([bank_id])
GO
ALTER TABLE [dbo].[category_total] CHECK CONSTRAINT [fk_ct_bank]
GO
ALTER TABLE [dbo].[category_total]  WITH CHECK ADD  CONSTRAINT [fk_ct_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[dim_category] ([category_id])
GO
ALTER TABLE [dbo].[category_total] CHECK CONSTRAINT [fk_ct_category]
GO
ALTER TABLE [dbo].[center]  WITH CHECK ADD  CONSTRAINT [fk_center_country] FOREIGN KEY([country_id])
REFERENCES [dbo].[country] ([country_id])
GO
ALTER TABLE [dbo].[center] CHECK CONSTRAINT [fk_center_country]
GO
ALTER TABLE [dbo].[dim_category]  WITH CHECK ADD  CONSTRAINT [fk_dim_category_country] FOREIGN KEY([country_id])
REFERENCES [dbo].[country] ([country_id])
GO
ALTER TABLE [dbo].[dim_category] CHECK CONSTRAINT [fk_dim_category_country]
GO
ALTER TABLE [dbo].[enable_account]  WITH CHECK ADD  CONSTRAINT [fk_enable_account_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[enable_account] CHECK CONSTRAINT [fk_enable_account_account]
GO
ALTER TABLE [dbo].[enable_account]  WITH CHECK ADD  CONSTRAINT [fk_enable_account_connection] FOREIGN KEY([connection_id])
REFERENCES [dbo].[enable_connection] ([connection_id])
GO
ALTER TABLE [dbo].[enable_account] CHECK CONSTRAINT [fk_enable_account_connection]
GO
ALTER TABLE [dbo].[enable_connection]  WITH CHECK ADD  CONSTRAINT [fk_enable_connection_user] FOREIGN KEY([app_user_id])
REFERENCES [dbo].[app_user] ([id])
GO
ALTER TABLE [dbo].[enable_connection] CHECK CONSTRAINT [fk_enable_connection_user]
GO
ALTER TABLE [dbo].[enable_redirect]  WITH CHECK ADD  CONSTRAINT [fk_enable_redirect_user] FOREIGN KEY([app_user_id])
REFERENCES [dbo].[app_user] ([id])
GO
ALTER TABLE [dbo].[enable_redirect] CHECK CONSTRAINT [fk_enable_redirect_user]
GO
ALTER TABLE [dbo].[private_key]  WITH CHECK ADD  CONSTRAINT [fk_private_key_user] FOREIGN KEY([app_user_id])
REFERENCES [dbo].[app_user] ([id])
GO
ALTER TABLE [dbo].[private_key] CHECK CONSTRAINT [fk_private_key_user]
GO
ALTER TABLE [dbo].[table_header_term]  WITH CHECK ADD  CONSTRAINT [fk_table_header_term_country] FOREIGN KEY([country_id])
REFERENCES [dbo].[country] ([country_id])
GO
ALTER TABLE [dbo].[table_header_term] CHECK CONSTRAINT [fk_table_header_term_country]
GO
ALTER TABLE [dbo].[transaction_nederland]  WITH CHECK ADD  CONSTRAINT [fk_txn_nl_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[transaction_nederland] CHECK CONSTRAINT [fk_txn_nl_account]
GO
ALTER TABLE [dbo].[transaction_nederland]  WITH CHECK ADD  CONSTRAINT [fk_txn_nl_app_user] FOREIGN KEY([app_user_id])
REFERENCES [dbo].[app_user] ([id])
GO
ALTER TABLE [dbo].[transaction_nederland] CHECK CONSTRAINT [fk_txn_nl_app_user]
GO
ALTER TABLE [dbo].[transaction_nederland]  WITH CHECK ADD  CONSTRAINT [fk_txn_nl_bank] FOREIGN KEY([bank_id])
REFERENCES [dbo].[bank] ([bank_id])
GO
ALTER TABLE [dbo].[transaction_nederland] CHECK CONSTRAINT [fk_txn_nl_bank]
GO
ALTER TABLE [dbo].[transaction_nederland]  WITH CHECK ADD  CONSTRAINT [fk_txn_nl_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[dim_category] ([category_id])
GO
ALTER TABLE [dbo].[transaction_nederland] CHECK CONSTRAINT [fk_txn_nl_category]
GO
ALTER TABLE [dbo].[transaction_uk]  WITH CHECK ADD  CONSTRAINT [fk_txn_uk_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([account_id])
GO
ALTER TABLE [dbo].[transaction_uk] CHECK CONSTRAINT [fk_txn_uk_account]
GO
ALTER TABLE [dbo].[transaction_uk]  WITH CHECK ADD  CONSTRAINT [fk_txn_uk_app_user] FOREIGN KEY([app_user_id])
REFERENCES [dbo].[app_user] ([id])
GO
ALTER TABLE [dbo].[transaction_uk] CHECK CONSTRAINT [fk_txn_uk_app_user]
GO
ALTER TABLE [dbo].[transaction_uk]  WITH CHECK ADD  CONSTRAINT [fk_txn_uk_bank] FOREIGN KEY([bank_id])
REFERENCES [dbo].[bank] ([bank_id])
GO
ALTER TABLE [dbo].[transaction_uk] CHECK CONSTRAINT [fk_txn_uk_bank]
GO
ALTER TABLE [dbo].[transaction_uk]  WITH CHECK ADD  CONSTRAINT [fk_txn_uk_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[dim_category] ([category_id])
GO
ALTER TABLE [dbo].[transaction_uk] CHECK CONSTRAINT [fk_txn_uk_category]
GO
ALTER TABLE [dbo].[type_abbreviation]  WITH CHECK ADD  CONSTRAINT [fk_type_abbreviation_country] FOREIGN KEY([country_id])
REFERENCES [dbo].[country] ([country_id])
GO
ALTER TABLE [dbo].[type_abbreviation] CHECK CONSTRAINT [fk_type_abbreviation_country]
GO
ALTER TABLE [dbo].[type_rule]  WITH CHECK ADD  CONSTRAINT [fk_type_rule_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[dim_category] ([category_id])
GO
ALTER TABLE [dbo].[type_rule] CHECK CONSTRAINT [fk_type_rule_category]
GO
ALTER TABLE [dbo].[type_rule]  WITH CHECK ADD  CONSTRAINT [fk_type_rule_country] FOREIGN KEY([country_id])
REFERENCES [dbo].[country] ([country_id])
GO
ALTER TABLE [dbo].[type_rule] CHECK CONSTRAINT [fk_type_rule_country]
GO
ALTER TABLE [dbo].[app_user]  WITH CHECK ADD  CONSTRAINT [ck_app_user_pack] CHECK  (([number_of_accounts] IS NULL OR [center_id] IS NOT NULL AND [number_of_accounts]>=(0)))
GO
ALTER TABLE [dbo].[app_user] CHECK CONSTRAINT [ck_app_user_pack]
GO
ALTER TABLE [dbo].[dim_category]  WITH CHECK ADD  CONSTRAINT [ck_dim_category_role] CHECK  (([matrix_role] IS NULL OR ([matrix_role]=N'last_booked' OR [matrix_role]=N'balance')))
GO
ALTER TABLE [dbo].[dim_category] CHECK CONSTRAINT [ck_dim_category_role]
GO
ALTER TABLE [dbo].[transaction_nederland]  WITH CHECK ADD  CONSTRAINT [ck_txn_nl_cat] CHECK  (([category_id]>=(100) AND [category_id]<=(199)))
GO
ALTER TABLE [dbo].[transaction_nederland] CHECK CONSTRAINT [ck_txn_nl_cat]
GO
ALTER TABLE [dbo].[transaction_nederland]  WITH CHECK ADD  CONSTRAINT [ck_txn_nl_mod] CHECK  (([modification]=(3) OR [modification]=(2) OR [modification]=(1) OR [modification]=(0) OR [modification]=(-1)))
GO
ALTER TABLE [dbo].[transaction_nederland] CHECK CONSTRAINT [ck_txn_nl_mod]
GO
ALTER TABLE [dbo].[transaction_nederland]  WITH CHECK ADD  CONSTRAINT [ck_txn_nl_year] CHECK  (([year]>=(1990) AND [year]<=(2100)))
GO
ALTER TABLE [dbo].[transaction_nederland] CHECK CONSTRAINT [ck_txn_nl_year]
GO
ALTER TABLE [dbo].[transaction_uk]  WITH CHECK ADD  CONSTRAINT [ck_txn_uk_cat] CHECK  (([category_id]>=(200) AND [category_id]<=(299)))
GO
ALTER TABLE [dbo].[transaction_uk] CHECK CONSTRAINT [ck_txn_uk_cat]
GO
ALTER TABLE [dbo].[transaction_uk]  WITH CHECK ADD  CONSTRAINT [ck_txn_uk_mod] CHECK  (([modification]=(3) OR [modification]=(2) OR [modification]=(1) OR [modification]=(0) OR [modification]=(-1)))
GO
ALTER TABLE [dbo].[transaction_uk] CHECK CONSTRAINT [ck_txn_uk_mod]
GO
ALTER TABLE [dbo].[transaction_uk]  WITH CHECK ADD  CONSTRAINT [ck_txn_uk_year] CHECK  (([year]>=(1990) AND [year]<=(2100)))
GO
ALTER TABLE [dbo].[transaction_uk] CHECK CONSTRAINT [ck_txn_uk_year]
GO
USE [master]
GO
